*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 8px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(77, 73, 73);
    height: 20px;

}
.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}
nav a{
    color: white;
    text-decoration: none;
    font-size: 8px;
    margin-right: 8px;

}

.card{
width: 200px;
margin: 10px auto;
border: 5px solid #ccc;

}
.card header{
    padding: 10px;
    background-color: black;
    border-bottom: 1px solid #ccc;
}
input{
    font-size: 5px;
    
}
.card h3{
    text-align: center;
    font-size: 10px;
    margin-bottom: 5px;
    color: red;

}
button{
    margin-top: 8px;
    font-size: 9px;
    background-color: rgb(209, 56, 39);
    color: white;
    text-align: center;
}
.form-group{
    display: flex;
    justify-content: space-between;
margin-right: 80px;
margin-top: 4px;
}